.header {
    background-color: #0dbab1;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.header h1 {
    margin-bottom: 0;
}

nav {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    text-align: start;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.main {
    display: flex;
    height: 80vh;
}

.left-body {
    display: flex;
    /* justify-content: flex-start; */
    background-color: #E0E0E0;
    height: 80vh;
    width: 30%;
    padding: 0 20px;
    flex-direction: column;
}

.left-body h2 {
    margin-top: 35px;
    margin-bottom: 4px;
}

.left-body1 p {
    margin-top: 12px;
}

.left-body1 img {
    height: 18vh;
    width: 100%;
}

.left-body2 img {
    height: 5vh;
    width: 100%;
    margin: 5px;
}

.left-body2 h3 {
    margin: 0 0;
}

.left-body2 p {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.right-body {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    width: 70%;
}

.right-body img {
    height: 18vh;
    width: 100%;
}

.right-body h2 {
    margin-bottom: 0;
}

footer {
    background-color: #BEBEBE;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*mobile view*/
@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .left-body {
        width: 100%;
    }

    .right-body {
        width: 100%;
    }
}

/*tab view*/
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .left-body {
        width: 100%;
    }

    .right-body {
        width: 100%;
    }
}